<br/><br/><br/><br/>
    <%= form_tag url_for(action: 'create'), method: "gossip" do %>
<input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
      <%= label_tag 'Title' %>
      <%= text_field_tag 'title', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content', @gossip.content %>
      <br /> <br />
      
<div class="form-group">
   <label>Tag</label>
   <%=select_tag 'tag_id', options_for_select(@tags.collect{ |t| [t.title, t.id] }), class:'form-control'%>
 </div>
        <br><br><br>
      <%= submit_tag "Create gossip" %>

    <% end %>